---
layout: default
---
<section class="news">
<div class="grid">
    <div class="unit four-fifths">
        {% for post in site.posts %}
        <article>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <div class="post-content">{{ post.excerpt }} </div>
        </article>
        {% endfor %}

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>

    {% include tags_cloud.html %}

    <div class="clear"></div>
</div>
</section>
