---
layout: default
---

<section itemscope itemtype="http://schema.org/BlogPosting">

    <div class="grid">
        <article class="unit four-fifths">
            <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
            <span class="post-category">
                <span class="label">
                    {{ page.categories | array_to_sentence_string }}
                </span>
            </span>
            <span class="post-meta">
                {{ page.date | date_to_string }}
            </span>
            {% if page.author %}
            • <span>{{ page.author }}</span>
            {% endif %}
            {% if page.tags %}
            / <span class="post-tag"> {{ page.tags | join }} </span> 
            {% endif %}

            <div class="post-content" itemprop="articleBody">
                {{ content }}
            </div>

            <div>
                {% include share.html %}
            </div>
        </article>

        {% include tags_cloud.html %}

        <div class="clear"></div>
    </div>
</section>
